<div class="modal hide" id="spinnerModal" data-backdrop="static" data-keyboard="false">
    <div class="spinner-modal-body">
        <div id="ajax_loader">
        	<%= image_tag("loading-gif.gif" ,{alt: "", align: "middle", border: "0", size: "100x100", class: 'spinnner-align' }) %>
        </div>
    </div>
</div>