<br>
<div class='table-responsive'>
  <table class="table table-bordered table-hover table-condensed custom-table">
    <thead >
      <%= render 'shared/list_headers', header: 'reports_list_columns' %>
    </thead>  
    <tbody>
      <%= render partial: 'report_generations/list_item',collection:  list_items, as: :list_item %>
    </tbody>
  </table>
</div>
<%= render partial: 'shared/pagination', locals: {list_object: list_items} %>
